button {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  width: 10rem;
  margin: 0.25rem;
  border-radius: 5px;
  transition-duration: 0.4s;
  padding: 8px;
  border: 2px solid #4caf50;

  cursor: pointer;
}
button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
