* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  top: 0;
  left: 0;
  padding: 0;
  background: #1ed760;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
